h1{
    font-size: 50px;
    font-family:' Modern No. 20';
    color: rgb(133, 75, 75);
    text-align: center;
    background-color: rgb(244, 209, 164);
    background-size: 40px 20px;
}
h3{
    font-size: 60px;
    font-family: 'Modern No. 20';
    color: rgb(84, 46, 46);
    text-align: center;
    background-color: rgb(161, 130, 89);
    background-size: 40px 20px;
}
.wrapper{
    margin: 150px auto;
    width: 70%;
    }
    
    .text-box{
    color: white;
    margin-right: 15px;
    }
    
    .text-box h2{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(128, 50, 52, 0.867);
    text-align: left;
    }
    .text-box p{
    font-size: 16px;
    }
    p{
    color:rgb(68, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .wrapper1{
        margin: 150px auto;
        width: 70%;
        
        }
        
        
        .text-box1 h2{
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
        color: rgba(128, 50, 52, 0.867);
        text-align: left;
        }
        .text-box1 p{
        font-size: 16px;
        
        color:rgb(68, 39, 39);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .wrapper2{
            margin: 150px auto;
            width: 70%;
            }
            
            .text-box2{
            color: white;
            margin-right: 15px;
            }
            
            .text-box2 h2{
            font-size: 30px;
            font-family:Arial, Helvetica, sans-serif;
            color: rgba(128, 50, 52, 0.867);
            text-align: left;
            }
            .text-box2 p{
            font-size: 16px;
            
            color:rgb(68, 39, 39);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .wrapper3{
                margin: 150px auto;
                width: 70%;
                }
                
                .text-box3{
                color: white;
                margin-right: 15px;
                }
                
                .text-box3 h2{
                font-size: 30px;
                font-family:Arial, Helvetica, sans-serif;
                color: rgba(128, 50, 52, 0.867);
                text-align: left;
                }
                .text-box3 p{
                font-size: 16px;
                
                color:rgb(68, 39, 39);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                .wrapper4{
                    margin: 150px auto;
                    width: 70%;
                    }
                    
                    .text-box4{
                    color: white;
                    margin-right: 15px;
                    }
                    
                    .text-box4 h2{
                    font-size: 30px;
                    font-family:Arial, Helvetica, sans-serif;
                    color: rgba(128, 50, 52, 0.867);
                    text-align: left;
                    }
                    .text-box4 p{
                    font-size: 16px;
                    
                    color:rgb(68, 39, 39);
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    }